@media only screen and (max-width: 768px)
    body
        .ig-header
            background-position: center
            h1
                img 
                    width: 50% 
        
        .ig-quienes, .ig-quienes2
            .ig-titulos
                margin-top: 20px
                padding: 0 15px  

            .col-md-4 
                ul, p 
                    padding: 0 15px    

        .ig-quienes2 
            .order-1
                margin-top: 20px      

        .ig-beneficios
            margin 20px  auto   

        .ig-agentevirtual
            img 
                margin: 20px 0 

            .ig-agentevirtualtext
                text-align: left !important

        .ig-valores
            .ig-valorescontenidos
                padding: 0
                margin-bottom: 20px

                .ig-titulos
                    display: block

        .ig-caracteristicas
            padding: 0            

        footer
            margin-top: 40px    

            .ig-footer
                padding: 0 15px

            .btn-link
                width 100%;

                