.text-base
    font-size: 1rem
    line-height: 1.5rem

.text-xl
    font-size: 1.875rem
    line-height: 2rem

.text-lg
    font-size: 1.125rem
    line-height: 1.75rem


.text-sm
    font-size: 0.875rem
    line-height: 1.25rem

.text-xs
    font-size: 0.75rem
    line-height: 1rem

.font-light
    font-weight: 300

.font-normal
    font-weight: 400

.font-bold
    font-weight: 700

.uppercase
    text-transform: uppercase