html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn {
  width: 100%;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: Roboto;
  color: #3c3c3b;
  margin: 0 auto;
  overflow-x: hidden;
}
.navbar .navbar-brand img {
  width: 60px;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .navbar-nav li i {
  color: #fff;
  font-size: 6px;
}
.ig-header {
  background-color: #3c3c3b;
  background-image: url("../images/bg.png");
  margin: 0 auto;
  float: left;
  width: 100%;
  height: 500px;
}
.ig-header .container {
  height: 100%;
}
.ig-header .container .row {
  height: 100%;
}
.ig-header h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.ig-header p {
  margin: 35px 0 0 0;
  color: #fff;
  font-weight: 300;
  display: block;
}
.ig-header small {
  display: block;
}
.ig-header span {
  font-size: 12px;
  font-weight: 300;
  display: block;
  color: #fff;
  margin: 20px 0;
}
.ig-header .dr-logo {
  width: 40%;
}
.dr-aboutme,
.dr-skill,
.dr-story,
.dr-blog,
.dr-contact {
  float: left;
  width: 100%;
  margin: 0px 0;
  padding: 50px 0;
}
.dr-aboutme h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
}
.dr-aboutme h3 span {
  color: #808080;
}
.dr-aboutme .btn-secondary {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.dr-aboutme .btn-secondary:hover {
  background-color: #3c3c3b;
}
.dr-aboutme .drbtn {
  background-color: #6c757d;
  padding: 5px 10px;
  color: #fff;
  height: 38px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  text-decoration: none;
}
.dr-aboutme .drbtn:hover {
  background-color: #3c3c3b;
}
.dr-skill {
  padding: 50px 0;
  background-color: #fff;
}
.dr-skill .dr-skillbg {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
}
.dr-skill h4 {
  font-size: 20px;
  margin: 20px 0;
}
.dr-skill h3 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #000;
  margin: 12px 0 20px 0;
}
.dr-skill h3 span {
  color: #000;
}
.dr-skill .icono {
  background-color: #000;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.dr-skill p {
  font-weight: 300;
  font-size: 16px;
}
.dr-skill .skill {
  font-weight: 700;
  margin: 0px 0 20px 0;
  padding: 5px 0;
  font-size: 28px;
  border-bottom: 1px solid #000;
}
.dr-skill h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.dr-skill .dr-procesocont {
  border-top: 1px solid #000;
  margin: 10px 0;
  padding: 10px;
}
.dr-skill .dr-procesocont h4 {
  font-weight: 700;
}
.dr-skill .dr-procesocont ul {
  margin: 0;
  padding: 0;
}
.dr-skill .dr-procesocont ul li {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}
.dr-story {
  padding: 50px 0;
  background-color: #2c2c2c;
  color: #fff;
}
.dr-story .titulo h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.dr-story .titulo h3 span {
  color: verde;
}
.dr-story .az-historicont hr {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.dr-story .dr-historydt {
  margin: 30px 0;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
}
.dr-story .dr-historydt:last-child {
  border: none;
}
.dr-story .dr-historydt h3 {
  margin: 0;
  padding: 0;
}
.dr-story .dr-historydt p {
  font-weight: 300;
}
.dr-story .dr-historydt .dr-fecha {
  background-color: verde;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}
.dr-story .az-ico .material-icons,
.dr-story .az-ico .fa {
  background-color: #3c3c3b;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.dr-blog {
  background-color: #2c2c2c;
  padding: 50px 0;
  margin: 0;
}
.dr-blog .dr-linkpr {
  position: relative;
  height: 100%;
  text-decoration: none;
}
.dr-blog .dr-linkpr .link {
  background-image: url("../images/bg.png");
  width: 100%;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 18x;
}
.dr-blog .titulo {
  text-align: center;
  margin: 0px 0 30px 0;
  display: block;
}
.dr-blog .titulo h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.dr-blog .titulo span {
  color: verde;
}
.dr-internaux {
  background-color: #f5f5f5;
  padding: 50px 0;
  margin-top: 80px;
}
.dr-internaux .titulo {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.dr-internaux .titulo h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.dr-internaux .titulo span {
  color: #808080;
}
.dr-contact {
  padding: 60px 0;
  background-color: #f5f5f5;
  margin: 0;
}
.dr-contact .titulo {
  display: block;
  margin-bottom: 30px;
}
.dr-contact .titulo h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.dr-contact .titulo h3 span {
  color: verde;
}
.dr-contact .material-icons,
.dr-contact .fa {
  background-color: #3c3c3b;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.dr-contact p {
  font-weight: 300;
  font-size: 13px;
}
.dr-contact .contact-form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.dr-contact .contact-form .textarea-box {
  margin: 20px 0;
}
footer {
  float: left;
  width: 100%;
  background-color: drul;
  margin: auto;
}
footer .up {
  background: #252d3c;
  height: 50px;
  display: flex;
  width: 120px;
  font-size: 12px;
  border-radius: 5px;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10%;
  z-index: 999;
  bottom: 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}
footer .up i {
  font-size: 20px;
}
footer .ig-valorescontenidos .ig-titulos,
footer .ig-beneficioscontent .ig-titulos,
footer .ig-valorescontenidos p,
footer .ig-beneficioscontent p {
  color: #fff;
}
footer .ig-valorescontenidos .ig-benefparrafo,
footer .ig-beneficioscontent .ig-benefparrafo {
  color: #fff;
  text-align: center;
  margin: 20px 0 60px 0;
  font-weight: 300;
}
footer .ig-valorescontenidos .ig-benefparrafo:after,
footer .ig-beneficioscontent .ig-benefparrafo:after,
footer .ig-valorescontenidos .ig-benefparrafo:before,
footer .ig-beneficioscontent .ig-benefparrafo:before {
  width: 150px;
  height: 1px;
  background-color: #fff;
  content: "";
  display: block;
  margin: 12px auto;
}
footer .ig-valorescontenidos h3,
footer .ig-beneficioscontent h3,
footer .ig-valorescontenidos i,
footer .ig-beneficioscontent i {
  color: #fff;
}
footer .dr-contact {
  margin: 50px auto 30px auto;
}
footer .dr-contact .btn-mail {
  border: 2px solid drul;
  background-color: #fafafa;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: -40px auto 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
footer .dr-contact .btn-mail i {
  font-size: 35px;
  color: drul;
}
footer .dr-contact .contact-form {
  margin-top: 20px;
}
footer .dr-contact .contact-form .form-control {
  margin: 10px 0;
  font-weight: 300;
  font-size: 14px;
}
footer .dr-contact .contact-form h4 {
  color: drul;
  font-size: 16px;
  display: flex;
  align-items: left;
}
footer .dr-contact .contact-form .error {
  color: #f00;
}
footer .dr-contact .contact-form ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
footer .dr-contact .contact-form ::-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
}
footer .dr-contact .contact-form :-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
footer .dr-contact .contact-form :-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
}
footer .dr-contact .btn-link {
  background-color: #fff;
  color: drul;
  padding: 8px 30px;
  font-weight: 300;
  cursor: pointer !important;
  display: block;
  margin: 20px auto;
}
footer .dr-contact .ig-logofooter {
  margin: 60px 0;
  display: block;
}
footer {
  background-image: url("../images/bg.png");
  padding: 30px 0;
  color: #fff;
  float: left;
  width: 100%;
}
footer .ig-copy {
  margin: auto;
  text-align: center;
}
footer .ig-copy p {
  font-size: 14px;
  color: #fff;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  body .ig-header {
    background-position: center;
  }
  body .ig-header h1 img {
    width: 50%;
  }
  body .ig-quienes .ig-titulos,
  body .ig-quienes2 .ig-titulos {
    margin-top: 20px;
    padding: 0 15px;
  }
  body .ig-quienes .col-md-4 ul,
  body .ig-quienes2 .col-md-4 ul,
  body .ig-quienes .col-md-4 p,
  body .ig-quienes2 .col-md-4 p {
    padding: 0 15px;
  }
  body .ig-quienes2 .order-1 {
    margin-top: 20px;
  }
  body .ig-beneficios {
    margin: 20px auto;
  }
  body .ig-agentevirtual img {
    margin: 20px 0;
  }
  body .ig-agentevirtual .ig-agentevirtualtext {
    text-align: left !important;
  }
  body .ig-valores .ig-valorescontenidos {
    padding: 0;
    margin-bottom: 20px;
  }
  body .ig-valores .ig-valorescontenidos .ig-titulos {
    display: block;
  }
  body .ig-caracteristicas {
    padding: 0;
  }
  body footer {
    margin-top: 40px;
  }
  body footer .ig-footer {
    padding: 0 15px;
  }
  body footer .btn-link {
    width: 100%;
  }
}
